.image-flex-img{
    margin-right: 10px;
  }
  
  
  .app-header{
    background-color: white;
    max-height: 6.25rem;
    min-height: 3.125rem;
    position: fixed;
    z-index: 5;
  }
  
  img {
    height: 2.625rem;
  }